*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Arial, Helvetica, sans-serif;

    position:relative;
    overflow:hidden;
}

body::before{
    content:"";
    position:absolute;
    inset:0;

    background:
        url("assets/images/bg.jpg")
        center center/cover no-repeat;

    filter:blur(6px) brightness(.5);
    transform:scale(1.08);

    z-index:-2;
}

body::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
    z-index:-1;
}

.login-box{
    width:350px;

    padding:35px;

    border-radius:20px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.15);

    text-align:center;

    box-shadow:
    0 0 30px rgba(0,0,0,.4);
}

h1{
    color:#fff;
    margin-bottom:25px;
    letter-spacing:3px;
}

input{
    width:100%;
    padding:14px;

    margin-bottom:15px;

    border:none;
    outline:none;

    border-radius:10px;

    background:rgba(255,255,255,.1);

    color:#fff;
}

input::placeholder{
    color:#ccc;
}

button{
    width:100%;
    padding:14px;

    border:none;

    border-radius:10px;

    background:#fff;

    cursor:pointer;

    font-weight:bold;

    transition:.3s;
}

button:hover{
    transform:translateY(-2px);
}
